<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Anipet</title>
</head>
<body>
    <h2><%= data %></h2>
    <div>
        <form action="/users/prediced" method="POST">
            <div class="form-group">
                <label for="">คาดเดา</label>
            </div>
            <div class="form-group">
                <a href="/users/predic" class="btn btn-primary">ย้อนกลับ</a>
            </div>
        </form>
    </div>
    <hr>
    <h2>สวัสดีครับโหลวๆเทสๆ</h2>
    <p>
        by jeng
    </p>
    <hr>
    <p>
        <% Object.values(blogs).forEach(function(blogs){%>
            <h4><%=blogs.name%></h4>
            <p> name : <%=blogs.name%></p>
            <p> info : <%=blogs.info%></p>
            <p> price : <%=blogs.price%></p>
            <p> hard : <%=blogs.hard%></p>
            <hr>
        <% }) %>
    </p>
</body>
</html>