<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Anipet</title>
</head>
<body>
    <%- include('../layout') %>
    <hr>
    <h2><%= data %></h2>
    <% if (locals.errors) { %>
        <ul>
            <% Object.values(errors).forEach(function(error){ %>
                  <li><%= error.msg %></li>
            <% }); %>
        </ul>
        <% } %>
    <form action="/blogs/update" method="POST">
        <div class="form-group">
            <label for="">ชื่อ-นามสกุล</label>
            <input type="text" name= "name" class="form-control" id="" value="<%= blog.name %>">
        </div>
        <div class="form-group">
            <label for="">username</label>
            <input type="text" name= "username" class="form-control" id="" value="<%= blog.username %>">
        </div>
        <div class="form-group">
            <label for="">password</label>
            <input type="password" name= "password" class="form-control" id="">
        </div>

        <div class="form-group">
            <label for="">gender</label>
            <select name="gender" id="" class="form-control">
                <option value="men"
                <% if (blog.gender == "men") { %>
                    selected
                <% } %>
                >men</option>
                <option value="girl"
                <% if (blog.gender == "girl") { %>
                    selected
                <% } %>
                >girl</option>
            </select>
            <input type="hidden" value="<%= blog._id %>" name="id">
        </div>
        <input type="submit" class="btn btn-primary" name="" id="" value="update">
    </form>
    <p>by jeng</p>
</body>
</html>