<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Anipet</title>
</head>
<body>
    <%- include('../layout') %>
    <h2><%= data %></h2>
    <div>
        <a href="/blogs/login" class="btn btn-primary">เข้าสู่ระบบ</a>
        <a href="/blogs/add" class="btn btn-primary">สมัครสมาชิก</a>
    </div>
    <hr>
    <h2>สวัสดีครับโหลวๆเทสๆ</h2>
    <p>by jeng</p>
    <hr>
    <p>
        <% Object.values(blogs).forEach(function(blogs){%>
            <h4><%=blogs.name%></h4>
            <p> ID : <%=blogs.username%></p>
            <p> Pass : <%=blogs.password%></p>
            <a href="/blogs/edit/<%= blogs._id %>">แก้ไข</a>
            <a href="/blogs/delete/<%= blogs._id %>" onclick="return confirm('ต้องการลบหรือไม่?')">ลบ</a>
            <hr>
        <% }) %>
    </p>
</body>
</html>